# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HotasVRControllerDriver/hotas/adddriver.bat
/HotasVRControllerDriver/hotas/removedriver.bat
/.vs
/HotasVRControllerDriver/hotas/bin/win64/driver_hotas.pdb
/HotasVRControllerDriver/hotas/bin/win64/driver_hotas.log
/HotasVRControllerDriver/hotas/bin/win64/driver_hotas.ilk
/HotasVRControllerDriver/hotas/bin/win64/driver_hotas.exp
/HotasVRControllerDriver/x64/Debug
/HotasVRControllerDriver/HotasVRControllerDriver.vcxproj.user
/HotasVRControllerDriver/HotasVRControllerDriver.vcxproj.filters
